[project]
	description = OpenShift 3 - build, deploy, and manage your applications with Docker and Kubernetes
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/salvatore dario minonne (sdminonne)
[access "refs/for/refs/*"]
	read = group user/salvatore dario minonne (sdminonne)
	push = group user/salvatore dario minonne (sdminonne)
	label-Code-Review = -2..+2 group user/salvatore dario minonne (sdminonne)
	label-Verified = -1..+1 group user/salvatore dario minonne (sdminonne)
	rebase = group user/salvatore dario minonne (sdminonne)
	removeReviewer = group user/salvatore dario minonne (sdminonne)
	submit = group user/salvatore dario minonne (sdminonne)
[access "refs/heads/*"]
	read = group user/salvatore dario minonne (sdminonne)
	create = group user/salvatore dario minonne (sdminonne)
	push = +force group user/salvatore dario minonne (sdminonne)
	pushMerge = group user/salvatore dario minonne (sdminonne)
[access "refs/tags/*"]
	push = +force group user/salvatore dario minonne (sdminonne)
	pushTag = group user/salvatore dario minonne (sdminonne)
	pushSignedTag = group user/salvatore dario minonne (sdminonne)
